.text-primary {
  color: var(--primary-color) !important;
}

.text-primary-light {
  color: var(--primary-color-light) !important;
}

.text-primary-dark {
  color: var(--primary-color-dark) !important;
}

.bg-primary {
  background-color: var(--background-color) !important;
}

.bg-primary-dark {
  background-color: var(--background-color-dark) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
}

.btn-primary-light {
  background-color: var(--primary-color-light) !important;
}

.btn-primary-dark {
  background-color: var(--primary-color-dark) !important;
}

.btn {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section {
  padding: 100px 0;
}
