:root {
  --primary-color: #618cc7;
  --primary-color-light: #7fa1c3;
  --primary-color-dark: #58759c;
  --secondary-color: #e2dad6;
  --secondary-color-light: #f5eded;
  --background-color: #d1e9f6;
  --background-color-dark: #8bd6ff;
}
